body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


h3 {
    text-align: center;
    color: #333;
    margin-top: 1rem;
}

#tabela-dados {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


#tabela-dados th, #tabela-dados td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #41e002;
}

#tabela-dados th {
    background-color: #4CAF50;
    color: #fff;
}

#tabela-dados tbody tr:hover {
    background-color: #dbdbdb;
}

#lista-dados {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
}

#lista-dados li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista-dados li:hover {
    background-color: #f5f5f5;
}


/*relatorios*/

.container_inputs{
    display: flex;
    justify-content: center;
    align-items:center ;
   
}
.container_inputs >input{
    background-color: gainsboro;
    padding: 0.5rem;
    margin-right: 0.5rem;
}


.container_inputs>p{
    padding: 0.4rem;
    margin: 0.5rem;
    background-color: gainsboro;
}
.container_img{
margin: 1rem ;
}
.container_img>img{
    width: 100px;
}


.container_inputs >select{
    background-color: gainsboro;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.container_inputs >span{
    background-color: gainsboro;
    padding: 0.4rem;
    
}